*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.app {
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .current-date {
    margin-top: 10px;
    margin-right: 700px;
    font-size: 18px;
    color: white;
    text-align:left;
    float: left;
  }

  .nav-link{
    text-decoration: none;
    margin-right:24px;
    color:beige;
    margin-top: 70px;
  }

  .nav-link:hover {
    color:black;
    
  }


.nav-link:active{
    color:grey;
}

.temp{
    margin-right: 10px;
    font-size: 80px;
    font-weight: bold;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .app {
        height: 100vh;
        padding: 20px;
    }

    .current-date {
        position: static;
        margin-top: 20px;
        margin-right: 0;
    }

    .nav-links {
        position: static;
        margin-top: 10px;
    }

    .nav-link {
        margin-left: 0;
        margin-right: 12px;
        margin-top: 30px;
    }
}